@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(27, 75, 63);
}

.main-content {
  background-color: rgb(253, 252, 169);
  border-radius: 20px;
  margin: auto;
  margin-top: 3rem;
  max-width: 600px;
  padding: 10px;
  text-align: center;
}

header {
  margin-bottom: 20px;
}

h1 {
  font-family: 'Lobster', cursive;
  margin: 0px;
  margin-block: 0px;
}

P {
  color: rgb(105, 103, 101);
  font-family: 'Lobster', cursive;
  margin-block: 0px;
}

.texto-tarefa {
  margin-bottom: 15px;
  width: 60%;
}

.button-content {
  text-align: left;
  margin-left: 25px;
}

button {
  border-radius: 10px;
  font-size: 17px;
  padding: 4px 12px;
  border-radius: 50px;
  margin-left: 10px;
}

button.criar-tarefa {
  background-color: rgb(6, 126, 6);
  border-radius: 50px;
  color: white;
  padding: 2px 12px;
  margin-left: 10px;
}

button#remover-selecionado {
  background-color: rgb(221, 12, 12);
  color: white;
}

button#apaga-tudo {
  background-color: rgb(221, 12, 12);
  color: white;
}

button.up-down {
  background-color: rgb(47, 183, 250);
  color: white;
}
button i {
  font-size: 20px;
}

.list-content {
  margin-bottom: 15px;
  margin-top: 15px;
}

ul {
  width: 85%;
  margin: auto;
}

.item-list {
  line-height: 23px;
  text-align: left;
  user-select: none;
  width: 100%;
}

.completed::after {
  content: " ✔️ ";
}
