body {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(50, 18, 71);
}

.main-content {
  background-color: cornsilk;
  border-radius: 20px;
  margin: auto;
  max-width: 600px;
  padding: 10px;
  text-align: center;
}

header {
  margin-bottom: 20px;
}

h1 {
  margin: 0px;
  margin-block: 0px;
}

P {
  color: rgb(105, 103, 101);
  margin-block: 0px;
}

.texto-tarefa {
  margin-bottom: 15px;
  width: 60%;
}

.button-content {
  text-align: left;
  margin-left: 25px;
}

button {
  border-radius: 10px;
  font-size: 17px;
  padding: 4px 12px;
  border-radius: 50px;
  margin-left: 10px;
}

button.criar-tarefa {
  background-color: rgb(6, 126, 6);
  border-radius: 50px;
  color: white;
  padding: 2px 12px;
  margin-left: 10px;
}

button#remover-selecionado {
  background-color: rgb(221, 12, 12);
  color: white;
}

button#apaga-tudo {
  background-color: rgb(221, 12, 12);
  color: white;
  margin-left: 250px;
}

button.up-down {
  background-color: rgb(0, 140, 255);
  color: white;
}

.list-content {
  margin-bottom: 15px;
  margin-top: 15px;
}

ul {
  width: 85%;
  margin: auto;
}

.item-list {
  text-align: left;
}

.completed::after {
  content: " ✔️  ";
}
