body {
  background-image: url(./img/cores-quadradas.jpg) ;
  background-repeat: no-repeat;
}

h1 {
  color: azure;
  font-size: 60px;
  text-align: center;
  margin: 0;
}

.main-content {
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 80vh;
  width: 70vw;
}

.controlColor {
  align-content: center;
  align-items: center;
  float: left;
  background-color: blanchedalmond;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  width: 150px;
  margin-right: 10vw;
}

.color-palette {
  display: flex;
  flex-direction: column;
}

.boardLength {
  margin-bottom: 10px;
}

.board-size {
  width: 30px;
  margin-right: 5px;
}

.color {
  /* border: 1px solid black; */
  border-radius: 10px;
  margin: 10px;
  height: 40px;
  width: 40px;
}

.selected {
  background-color: grey;
}

img {
  height: 40px;
  width: 40px;
}

.pixel-board {
  align-self: center;
  line-height: 0px;
}

.pixel {
  background-color: white;
  border: 1px solid black;
  display: inline-block;
  height: 25px;
  width: 25px;
  line-height: normal;
}

* {
  margin: 0;
}