body {
  background-color: rgb(182, 18, 18);
  margin: auto;
  max-width: 1150px;
}

header {
  display: flex;
  justify-content: center;
}


.pokeSec {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  justify-content: center;
}


/* img {
  width: 150px;
} */
