html {
  box-sizing: border-box;
}

.top-bar {
  align-items: center;
  background-color: rgb(255, 241, 89);
  display: flex;
  height: 100px;
  justify-content: space-around;
  margin-bottom: 10px;
  width: 100%;
}

.top-bar .input-name-group {
  align-items: flex-start;
  display: flex;
}

.top-bar .input-terms-group {
  align-items: flex-start;
  display: flex;
}

.container {
  display: flex;
  justify-content: space-around;
  margin: 0;
  width: 73%;
}

.items {
  display: flex;
  /* flex-basis: 70%; */
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  /* border: 2px solid rgba(90, 86, 86, 0.226); */
  border-radius: 10px;
  /* box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.534); */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  margin-bottom: 10px;
  padding: 10px;
  width: 215px;
}

.item:hover {
  box-shadow: 1px 1px 10px 1px #888888;
  /* transform: scale(1.03);
  transition: 0.4s; */
}

.item .item__sku {
  display: none;
}

.item .item__title {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.item .item__price {
  font-size: 20px;
  font-weight: 900;
  padding: 10px;
  text-align: center;
}

.item .item__image {
  max-height: 200px;
  width: 10px fit-content;
}

.item .item__add {
  background-color: rgb(11, 94, 215);
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 5px;
}

.item .item__add:hover {
  background-color: rgb(9, 205, 240);
  transition: 0.3s;
}

.cart {
  background-color:  rgb(150, 181, 238);
  border: 1px solid rgba(58, 54, 54, 0.281);
  border-radius: 10px;
  /* box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2); */
  display: flex;
  /* flex-basis: 30%; */
  flex-flow: column wrap;
  left: 73%;
  margin-right: 30px;
  padding: 10px;
  position: fixed;
  width: 26%;
}

.cart .cart__title {
  flex-basis: 1;
  font-size: 16pt;
  text-align: center;
}

.cart .total-price {
  text-align: right;
  background-color: rgb(221, 14, 14);
  border-radius: 5px;
  color: white;
  font-weight: 900;
  padding: 5px;
  width: auto;
}
